.ob-check {
    margin: 0 auto !important;
    display: block !important;
    width: 150px;
}

.ob-object {
    font-size: 17px;
}

.ob-app {
    margin: 50px 0 !important;
}

.ob-funcPreview {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    font-variant-ligatures: none;
    word-spacing: 10px;
}